{{ hostvars['ocphelper.mytest.accanto.com'].ansible_host }} api.{{ openshift_domain }}.{{ network_domain }} api-int.{{ openshift_domain }}.{{ network_domain }}

{{ hostvars['ocpbootstrap.mytest.accanto.com'].ansible_host }} ocpbootstrap.{{ openshift_domain }}.{{ network_domain }}
{% for vm in groups['openshift_masters'] %}
{{ hostvars[vm].ansible_host }} {{ vm }}  etcd-{{ loop.index0 }}.{{ openshift_domain }}.{{ network_domain }}
{% endfor %}
{% for vm in groups['openshift_workers'] %}
{{ hostvars[vm].ansible_host }} {{ vm }} 
{% endfor %}

