{{ hostvars['ocp-bootstrap'].ansible_host }} ocp-bootstrap.{{ openshift_domain }}.{{ network_domain }}
{{ hostvars['ocp-helper'].ansible_host }} loadbalancer.{{ openshift_domain }}.{{ network_domain }}  api.{{ openshift_domain }}.{{ network_domain }}  api-int.{{ openshift_domain }}.{{ network_domain }}
{{ hostvars['ocp-master'].ansible_host }} ocp-master.{{ openshift_domain }}.{{ network_domain }}  etcd-0.{{ openshift_domain }}.{{ network_domain }}
{% for vm in groups['openshift-workers'] %}
{{ hostvars[vm].ansible_host }}  {{ vm }}  {{ vm }}.{{ openshift_domain }}.{{ network_domain }}
{% endfor %}
